<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE hibernate-configuration SYSTEM
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MariaDB103Dialect
        </property>

        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc://mysql://localhost/rafaelIsDumb
        </property>

        <property name="hibernate.connection.username">
            rafael_soh_69420
        </property>

        <property name="hibernate.connection.password">
            iLoveSchool123
        </property>

        <mapping resource="User.hbm.xml" />
    </session-factory>
</hibernate-configuration>